.contact {
    font-style: inherit;
}
.contact__item{
    margin-bottom: 9px;
}
.contact__link{
    color: rgb(255, 255, 255, 0.6);
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus{
        color: $color-white;
    }
}