/* Стилі для логотипа */
.logo {
    color: $color-blue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    &--black {
        color: $color-black;
    }
    &--white{
        color: $color-white;
    }
}

/* END Стилі для логотипа*/