.main-nav {
    display: flex;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        //justify-content: space-between;
        gap:80px;
    }
}
.main-nav__list {
    display: flex;
    margin-left: 93px;
    &:last-child{
        margin-left: auto;
    }
}
.main-nav__item + .main-nav__item {
    margin-left: 50px;
}
.main-nav__item {
    position: relative;
}
.main-nav__link {
    display: inline-flex;
    align-items: center;
    color: $color-black;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    &--active{
        color: $color-blue;
    }
    &--active::after{
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $color-blue;
    }
    &:hover,
    &:focus{
        color: $color-blue;
    }
    &--cgrey{
        color: $color-text-primary;
    }
}
.main-nav__svg{
    margin-right: 10px;
    fill: currentColor;
}

