.site-clients__list{
    @include card-set(var(--set-margin));
}

.site-clients__item{
    @include card-set__item(var(--set-margin), 2);

    @media screen and (min-width: 768px) {
        @include card-set__item(var(--set-margin), 3);
    }
    @media screen and (min-width: 1200px) {
        @include card-set__item(var(--set-margin), 6);
    }

}
.site-clients__link{
    display: flex;
    /* width: 170px; */
    height: 92px;
    align-items: center;
    fill: $color-ico;
    border: 1px solid;
    border-color: $color-ico;
    border-radius: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus{
        fill: $color-blue;
        border-color: $color-blue;
    }
}
.site-clients__svg{
    display: block;
    margin: 0 auto;
}