.site-work{
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
    }

}
.site-work__item {
    position: relative;
    flex-basis: calc(100% / 3 - var(--set-margin));    
}
.site-work__block{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 14px;
}